<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Message Board</h1>
    <a href="/messages/new">New Message</a>
    <ul>
      <% messages.forEach((msg) => { %>
      <li class="message">
        <strong><%= msg.author %>:</strong> <%= msg.message %>
        <div style="margin-top: 5px">
          Created at: <%= new Date(msg.createdAt).toLocaleString() %>
        </div>
        <a href="/messages/<%= msg._id %>">Open Message</a>
        <button onclick="deleteMessage('<%= msg._id %>')">Delete</button>
      </li>
      <% }) %>
    </ul>
    <script>
      function deleteMessage(id) {
        fetch(`/messages/delete/${id}`, { method: "DELETE" }).then(() =>
          window.location.reload()
        );
      }
    </script>
  </body>
</html>
