<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Message Details</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <div><strong>Author:</strong> <%= message.author %></div>
    <div><strong>Message:</strong> <%= message.message %></div>
    <div>
      <strong>Created at:</strong> <%= new
      Date(message.createdAt).toLocaleString('en-US', { timeZone:
      'Europe/Belgrade' }) %>
    </div>
    <% if (message.editedAt && message.editedAt !== null) { %>
    <div>
      <strong>Edited at:</strong> <%= new
      Date(message.editedAt).toLocaleString('en-US', { timeZone:
      'Europe/Belgrade' }) %>
    </div>
    <% } %>
    <a href="/">Back to Home</a>
    <a href="/messages/<%= message._id %>/edit">Edit</a>
  </body>
</html>
